/* #region section one */

@font-face {
  font-family: 'digital_clock';
  src: url('fonts/digital_clock.ttf') format('truetype');
}

@font-face {
  font-family: 'meatloaf_outline';
  src: url('fonts/meatloaf_outline.ttf') format('truetype');
}

@font-face {
  font-family: 'meatloaf_sketched';
  src: url('fonts/meatloaf_sketched.ttf') format('truetype');
}

* {
  text-align: center;
  text-decoration: none;
}

div {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html,
body {
  height: auto;
  min-height: 98.5vh;
  background: #444444;
  cursor: default;
}

div,
input,
button {
  font-size: 60px;
  font-family: 'meatloaf_sketched';
}

#background {
  position: relative;
  border-radius: 3px;
  height: auto;
  min-height: 98.5vh;
  background: #ffffff;
  background: -webkit-linear-gradient(to bottom, #b5d7e9 0%, #ffffff 10%) 0 4px;
  background:    -moz-linear-gradient(to bottom, #b5d7e9 0%, #ffffff 10%) 0 4px;
  background:         linear-gradient(to bottom, #b5d7e9 0%, #ffffff 10%) 0 4px;
  background-size: 100% 1.8vw;
}

#background::before,
#background::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
}

#background::before {
  left: 8vw;
  border-left: 1px solid #f0adad;
}

#background-top {
  border-radius: 3px;
  height: 11vw;
  background: #ffffff;
}

#foreground {
  position: relative;
  top: -11vw;
  padding: 0 20px;
}

#background::after {
  right: 8vw;
  border-right: 1px solid #f0adad33;
}

#heading {
  padding-top: 1vw;
  font-size: 15vw;
  line-height: 10vw;
}

.rubbers {
  margin: 20px 0;
}

.rubber {
  margin: 20px;
  box-shadow: 0 4px 8px 0 #00000080, 0 6px 20px 0 #00000080, inset 0 0 10px 0 #333333;
  border: none;
  border-radius: 10px;
  padding: 0 30px;
  background: #74b1d1;
  background: -webkit-linear-gradient(90deg, #74b1d1 0%, #74b1d1 39%, #d8695f 40%, #d8695f 40%);
  background:    -moz-linear-gradient(90deg, #74b1d1 0%, #74b1d1 39%, #d8695f 40%, #d8695f 40%);
  background:         linear-gradient(90deg, #74b1d1 0%, #74b1d1 39%, #d8695f 40%, #d8695f 40%);
  cursor: pointer;
  font-family: 'meatloaf_outline';
  color: #ffffff;
}

.rubber:hover {
  font-family: 'meatloaf_sketched';
}

/* #endregion */

/* #region section two */

label {
  display: block;
  margin: 0;
  line-height: 60px;
}

input {
  position: relative;
  display: block;
  margin: auto;
  border: none;
  width: 95%;
  padding: 0 10px;
  background: none;
  color: #0e00cc;
}

::placeholder {
  font-family: 'meatloaf_outline';
  font-weight: bold;
  color: #e0a5a5;
}

button.rubber {
  display: block;
  margin: 20px auto;
}

.corner-link,
.corner-link:visited {
  position: fixed;
  cursor: pointer;
  font-size: 40px;
  color: #111111;
}

.corner-link:active {
  background: #00ffdd;
  color: #444444;
}

#back { 
  top: 20px;
  left: 30px;
}

.error { 
  color: #ee0033;
}

/* #endregion */

/* #region section three */

p {
  margin: 0;
  line-height: 60px;
  font-family: 'meatloaf_outline';
  font-weight: bold;
  color: #888888;
}

/* #endregion */

/* #region section four */

select {
  display: block;
  margin : 18px auto 36px;
  cursor: pointer;
}

#copy-link { 
  bottom: 20px;
  right: 30px;
}

/* #endregion */

/* #region section five */

.sub-heading {
  margin: 0;
  line-height: 60px;
}

#host {
  font-size: 80px;
}

#ask-next-question {
  margin-bottom: 40px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  font-size: 40px;
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  border: 2px solid #111111;
  font-weight: normal;
  height: 43px;
  padding: 0 5px;
}

#scores-table {
  margin-top: 20px;
}

#scores-table td {
  font-size: 60px;
}

#menu {
  font-size: 40px;
}

.highlight-blue {
  background: #00ffdd;
  color: #444444;
}

.highlight-green {
  background: #00ff55;
  color: #444444;
}

.highlight-pink {
  background: #ff0077;
  color: #444444;
}

.highlight-yellow {
  background: #ffff00;
  color: #444444;
}

/* #endregion */

/* #region section six */

#menu table {
  font-size: 60px;
}

#menu span {
  cursor: pointer;
}

#guide { 
  bottom: 20px;
  left: 30px;
}

/* #endregion */

/* #region section seven */

.inner-img-card {
  display: inline-block;
  transform: rotate(2deg);
  margin: 5px 0 20px;
  box-shadow: 0 4px 8px 0 #00000080, 0 6px 20px 0 #00000080;
  padding: 15px;
  background: #ffffff;
  cursor: pointer;
}

.inner-img-card div {
  height: 200px;
  background: #333333;
  font-size: 0;
  color: #ffffff;
}

img {
  height: 100%;
  font-size: 50px;
}

#question-type-link {
  top: 20px;
  right: 30px;
}

.outer-img-card-enlarged {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outer-img-card-enlarged div,
.outer-img-card-enlarged img {
  width: auto;
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
}

.answer {
  cursor: pointer;
}

/* #endregion */

/* #region section eight */

#multiple-choice {
  margin-top: 30px;
  padding: 0 50px;
}

#multiple-choice td {
  border: none;
  font-size: 60px;
  font-family: 'meatloaf_outline';
  font-weight: bold;
  color: #e0a5a5;
}

#multiple-choice span {
  cursor: pointer;
}

.selected {
  font-family: 'meatloaf_sketched';
  font-weight: normal;
  color: #0e00cc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.post-answer-submit {
  animation: fadeIn 1s;
  font-family: 'meatloaf_outline' !important;
  font-weight: bold;
  color: #e0a5a5;
}

#countdown {
  position: fixed; 
  top: 30px;
  right: 50px;
  font-family: 'digital_clock';
  font-size: 150px;
  text-shadow: 0 0 5px #111111, 0 0 10px #ee0033, 0 0 20px #ffffff;
  color: #ee0033;
}

/* #endregion */

/* #region section nine */

.question {
  margin: 30px auto 0;
  max-width: 1000px;
  line-height: 60px;
}

.question span {
  font-style: italic;
}

.points td {
  border: none;
  color: #0e00cc;
}

.points span {
  cursor: pointer;
}

/* #endregion */
